#loginViewStackPane{
    -fx-background-image: url("/media/images/backgrounds/1191_entranceMenuSceneBackground.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 720px 480px;
}
.button{
    -fx-border-color: #fdfd6f;
    -fx-border-width: 0.5 0.5 0.5 0.5;
}
.jfx-text-area .password-field{
    -fx-prompt-text-fill: white;
}
